@import "components.scss";

* {
    box-sizing: border-box;
}

body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #F0F1F1;
}

.wide-container {
    padding: 0 calc(50% - 475px);
}

.tight-container {
    margin: 0 calc(50% - 475px);
}

.info-header {
    display: flex;
    padding: 3px 80px;
    background-color: #2D4992;

    &__date {
        font-size: 16px;
    }

    &__contacts {
        display: flex;
        list-style: none;
        margin-left: auto;

        &-item {
            display: flex;
            margin-right: 20px;
        }
        
        &-item:last-child {
            margin-right: 0;
        }
        
        &-item::before {
            content: "";
            display: block;
            margin-right: 4px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-phone_num1::before {
            width: 17px;
            background-image: url(../images/phone-icon.png);
        }

        &-phone_num2::before {
            width: 15px;
            background-image: url(../images/mobile-phone-icon.png);
        }
        
        &-email::before {
            width: 26px;
            background-image: url(../images/email-icon.png);
        }
    }
}

.main-header {
    
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;

        &-search {
            display: flex;
            
            &-field {
                font-size: 17px;
                width: 360px;
                padding: 8px 20px;
                border: 1px solid rgba(0, 0, 0, 0.28);
                border-right: none;
            }

            &-btn {
                @include filled-button;

                width: 47px;
                background-image: url("../images/search-icon.png");
                background-repeat: no-repeat;
                background-position: center;
            }

            &-btn:hover {
                background-color: $corporate-color_dark;
            }
        }

        &-cart {
            display: flex;
            height: 34px;

            &-btn {
                @include filled-button;

                width: 50px;
                background-image: url("../images/cart-icon.png");
                background-repeat: no-repeat;
                background-position: center;
            }

            &-link {
                @include filled-button;
                
                text-emphasis: center;
                font-size: 12px;
                width: 90px;
                border-left: 1px solid #B0B0B0;
                color: #FFFFFF;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-btn:hover,
            &-link:hover {
                background-color: $corporate-color_dark;
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: center;

        background-color: $corporate-color;
        list-style: none;

        &-link {
            display: block;
            padding: 17px 35px;
            text-transform: uppercase;
            text-decoration: none;
            color: #FFFFFF;

            &_current {
                background-color: $corporate-color_dark;
            }
        }
        
        &-link:hover {
            background-color: $corporate-color_dark;
        }
    }
}

.page-banner {
    display: flex;
    flex-direction: column;

    background-image: url("../images/keyboard.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
    padding: 55px 28px 10px 28px;

    &__title {
        font-size: 36px;
        margin-bottom: 23px;
    }

    &__make-order-link {
        @include filled-button;
        padding: 8px 28px;
        margin-right: auto;
    }

    &__make-order-link:hover {
        background-color: $corporate-color_dark;
    }

    &__other-links {
        display: flex;
        flex-direction: column;
        margin-left: auto;

        &-forum-link {
            @include empty-button;
            padding: 8px 28px;
            margin-bottom: 12px;
        }

        &-forum-link:hover {
            background-color: $corporate-color_dark;
            border-color: $corporate-color_dark;
            color: #FFFFFF;
        }

        &-feedback-link {
            @include filled-button;
            padding: 8px 28px;
        }

        &-feedback-link:hover {
            background-color: $corporate-color_dark;
        }
    }
}

.main-info {
    background-color: #FFFFFF;
    color: #000000;

    .section-title {
        padding: 34px 0 0 40px;
        color: #6C6C6C;
        border-bottom: 5px solid #DDDDDD;
    }

    .tech-repair {
        &__services {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           align-items: baseline;
           box-sizing: content-box;
           height: 205px;
           padding: 20px 40px;
           font-size: 14px;

           &-item {
               display: flex;
               align-items: flex-end;
               width: 400px;

               &-mark {
                    width: 60px;
                    height: 50px;
                    background-image: url(../images/check-mark.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 10px;
               }

               &-text {
                   border-bottom: 1px solid #B1B1B1;
               }
           }
        }
    }

    .tech-refueling {
        display: flex;
        flex-direction: column;

        &__description {
            display: block;
            margin: 15px auto 0 auto;
            font-size: 16px;
            text-transform: uppercase;
            color: $corporate-color;
            border: 1px solid $corporate-color;
            padding: 6px 25px;
        }

        /* Для корректного отображения селектора по производителям
           Переопределяет image-picker стили */
        .image_picker_selector {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            padding: 9px 85px 0 85px;
            margin-bottom: 46px;
        }

        &__make-order-btn {
            @include filled-button;
            padding: 8px 16px;            
            margin: 0 auto 100px auto;
        }

        &__make-order-btn:hover {
            background-color: $corporate-color_dark;
        }
    }
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #19223A;
    padding: 27px 0;

    &__description {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__subscribe-form{
        display: flex;
        height: 42px;
        margin-bottom: 15px;

        &-field {
            width: 580px;
            font-size: 17px;
            padding-left: 17px;
        }

        &-btn {
            @include filled-button;
            width: 170px;
            text-transform: uppercase;
        }

        &-btn:hover {
            background-color: $corporate-color_dark;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 560px;
        margin-bottom: 67px;

        &-item-link {
            color: #FFFFFF;
            text-decoration: none;

            &_current {
                color: $corporate-color;
            }
        }

        &-item-link:hover {
            color: $corporate-color;
        }
    }

    &__public {
        text-align: center;
    }
}