@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #F0F1F1;
}

.wide-container {
  padding: 0 calc(50% - 475px);
}

.tight-container {
  margin: 0 calc(50% - 475px);
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 80px;
  background-color: #2D4992;
}

.info-header__date {
  font-size: 16px;
}

.info-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: auto;
}

.info-header__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.info-header__contacts-item:last-child {
  margin-right: 0;
}

.info-header__contacts-item::before {
  content: "";
  display: block;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.info-header__contacts-phone_num1::before {
  width: 17px;
  background-image: url(../images/phone-icon.png);
}

.info-header__contacts-phone_num2::before {
  width: 15px;
  background-image: url(../images/mobile-phone-icon.png);
}

.info-header__contacts-email::before {
  width: 26px;
  background-image: url(../images/email-icon.png);
}

.main-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.main-header__top-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__top-search-field {
  width: 360px;
  padding: 8px 20px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-right: none;
}

.main-header__top-search-btn {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  width: 47px;
  background-image: url("../images/search-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__top-search-btn:hover {
  background-color: #1F91D1;
}

.main-header__top-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
}

.main-header__top-cart-btn {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  width: 50px;
  background-image: url("../images/cart-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__top-cart-link {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  font-size: 12px;
  width: 90px;
  border-left: 1px solid #B0B0B0;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header__top-cart-btn:hover, .main-header__top-cart-link:hover {
  background-color: #1F91D1;
}

.main-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #12B8FF;
  list-style: none;
}

.main-header__nav-link {
  display: block;
  padding: 17px 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.main-header__nav-link_current {
  background-color: #1F91D1;
}

.main-header__nav-link:hover {
  background-color: #1F91D1;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/keyboard.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: multiply;
  padding: 55px 28px 10px 28px;
}

.banner__page-title {
  font-size: 36px;
  margin-bottom: 23px;
}

.banner__make-order-link {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 28px;
  margin-right: auto;
}

.banner__make-order-link:hover {
  background-color: #1F91D1;
}

.banner__other-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.banner__other-links-forum-link {
  display: block;
  font-size: 17px;
  border: 1px solid #12B8FF;
  color: #12B8FF;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-decoration: none;
  padding: 8px 28px;
  margin-bottom: 12px;
}

.banner__other-links-forum-link:hover {
  background-color: #1F91D1;
  border-color: #1F91D1;
  color: #FFFFFF;
}

.banner__other-links-feedback-link {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 28px;
}

.banner__other-links-feedback-link:hover {
  background-color: #1F91D1;
}

.main {
  background-color: #FFFFFF;
  color: #000000;
}

.main .main-section__title {
  padding: 34px 0 0 40px;
  color: #6C6C6C;
  border-bottom: 5px solid #DDDDDD;
}

.main .tech-repair__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 205px;
  padding: 20px 40px;
  font-size: 14px;
}

.main .tech-repair__services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 400px;
}

.main .tech-repair__services-item-mark {
  width: 60px;
  height: 50px;
  background-image: url(../images/check-mark.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.main .tech-repair__services-item-text {
  border-bottom: 1px solid #B1B1B1;
}

.main .tech-refueling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Для корректного отображения селектора по производителям
           Переопределяет image-picker стили */
}

.main .tech-refueling__description {
  display: block;
  margin: 15px auto 0 auto;
  font-size: 16px;
  text-transform: uppercase;
  color: #12B8FF;
  border: 1px solid #12B8FF;
  padding: 6px 25px;
}

.main .tech-refueling .image_picker_selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 9px 85px 0 85px;
  margin-bottom: 46px;
}

.main .tech-refueling__make-order-btn {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 auto 100px auto;
}

.main .tech-refueling__make-order-btn:hover {
  background-color: #1F91D1;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19223A;
  padding: 27px 0;
}

.main-footer__description {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-footer__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  margin-bottom: 15px;
}

.main-footer__subscribe-form-field {
  width: 580px;
  font-size: 17px;
  padding-left: 17px;
}

.main-footer__subscribe-form-btn {
  display: block;
  font-size: 17px;
  border: none;
  color: #FFFFFF;
  background-color: #12B8FF;
  cursor: pointer;
  text-decoration: none;
  width: 170px;
  text-transform: uppercase;
}

.main-footer__subscribe-form-btn:hover {
  background-color: #1F91D1;
}

.main-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 560px;
  margin-bottom: 67px;
}

.main-footer__nav-item-link {
  color: #FFFFFF;
  text-decoration: none;
}

.main-footer__nav-item-link_current {
  color: #12B8FF;
}

.main-footer__nav-item-link:hover {
  color: #12B8FF;
}

.main-footer__public {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */